doctype html 
html(lang="en")
    head 
        title Contact Log 
        meta(charset="utf-8")
        link(rel="stylesheet",href="/resources/css/main.css")
        script(src="/resources/js/table.js")
        script(src="/resources/js/main.js")
        
    body 
        include navbar 
        div.bannerForm 
            form#bannerForm 
                input(type="text",id="textInput",placeholder="New Message")
                button#postButton Send Message 
                button#deleteButton Delete Message 
        div
            h1 Contact Log 
            div.contactList 
                table 
                    tr
                        th Name 
                        th Email 
                        th Appointment Date 
                        th Tour Type 
                        th Resident of MN 
                        th Delete 
                    each contact in contacts 
                        tr(id=contact.id)
                            th= contact.name 
                            th= contact.email 
                            th= contact.date 
                            th= contact.tour 
                            th= contact.resident? "Yes" : "No" 
                            th 
                                button.delButton Delete
                    